In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/Users/matteoppa/Desktop/DataMining/Dataunderstandings.csv")

In [3]:
df.dtypes

Unnamed: 0                    int64
Age                         float64
Attrition                    object
BusinessTravel               object
Department                   object
DistanceFromHome              int64
Education                     int64
EducationField               object
EnvironmentSatisfaction       int64
Gender                       object
JobInvolvement                int64
JobLevel                      int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome               float64
NumCompaniesWorked            int64
OverTime                     object
PercentSalaryHike             int64
PerformanceRating           float64
RelationshipSatisfaction      int64
StockOptionLevel              int64
TrainingTimesLastYear       float64
WorkLifeBalance               int64
YearsAtCompany              float64
YearsInCurrentRole            int64
Attrition_numerical           int64
dtype: object

In [4]:
df.drop('OverTime',axis=1,inplace=True)

In [5]:
df.drop('Attrition',axis=1,inplace=True)

In [6]:
df.dtypes

Unnamed: 0                    int64
Age                         float64
BusinessTravel               object
Department                   object
DistanceFromHome              int64
Education                     int64
EducationField               object
EnvironmentSatisfaction       int64
Gender                       object
JobInvolvement                int64
JobLevel                      int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome               float64
NumCompaniesWorked            int64
PercentSalaryHike             int64
PerformanceRating           float64
RelationshipSatisfaction      int64
StockOptionLevel              int64
TrainingTimesLastYear       float64
WorkLifeBalance               int64
YearsAtCompany              float64
YearsInCurrentRole            int64
Attrition_numerical           int64
dtype: object

# FEATURE ENGINEERING

In [12]:
df.EducationField.unique()

array(['Medical', 'Life Sciences', 'Technical Degree', 'Other',
       'Human Resources', 'Marketing'], dtype=object)

In [8]:
df['BusinessTravel'] = df['BusinessTravel'].replace(['Travel_Rarely','Travel_Frequently','Non-Travel'],['1','2','0'])
df['Department'] = df['Department'].replace(['Research & Development','Sales','Human Resources'],['0','1','2'])
df['EducationField'] = df['EducationField'].replace(['Medical', 'Life Sciences', 'Technical Degree', 'Other',
       'Human Resources', 'Marketing'], ['0','1','2','3','4','5'])

In [11]:
df.head()

,Unnamed: 0,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,Attrition_numerical
0,0,52.0,1,0,9,4,Medical,2,Male,3,...,9,17,3.0,3,0,2.0,2,8.0,7,0
1,1,36.0,1,0,1,1,Life Sciences,2,Male,3,...,1,14,3.0,3,1,3.0,3,1.0,8,0
2,2,60.0,2,1,16,3,Life Sciences,3,Male,3,...,1,25,3.0,3,1,4.0,3,1.0,5,0
3,3,33.0,1,0,5,4,Technical Degree,2,Male,3,...,2,14,3.0,2,0,1.0,3,3.0,7,0
4,4,31.0,1,0,9,2,Life Sciences,3,Female,3,...,1,12,3.0,3,0,3.0,3,10.0,2,0

In [15]:
df.astype({'BusinessTravel':'int64'}).dtypes

SyntaxError: invalid syntax (<ipython-input-15-b6b004ba7198>, line 1)

In [17]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoders = dict()
column2encode = ['Sex', 'Embarked']

for col in column2encode:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le